@using PP2_SC_701_GrupoFBLL.Dtos;
@model List<ClienteDto>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Gestor de clientes</h1>

<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCrearCliente">
    Agregar Cliente
</button>

<table id="tblCliente" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Identificación</th>
            <th>Email</th>
            <th>Dirección</th>
            <th>Teléfonos</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@await Html.PartialAsync("_Edit")
@await Html.PartialAsync("_Create")
@await Html.PartialAsync("_Detail")

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Cliente.js" asp-append-version="true"></script>
}
