@model List<PP2_SC_701_GrupoFBLL.Dtos.CategoriaDto>

@{
    ViewData["Title"] = "Categorías";
}

<h1>Lista de categorías</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar Categoría</a>
</p>

<table id="tblCategoria" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Categoria.js" asp-append-version="true"></script>
}