@model List<PP2_SC_701_GrupoFBLL.Dtos.ProductoDto>

@{
    ViewData["Title"] = "Productos";
}

<h1>Lista de productos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar Producto</a>
</p>

<table id="tblProducto" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Producto.js" asp-append-version="true"></script>
}